@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model mvcDongHo.Areas.Admin.ViewModels.LoaiDayView;
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="col-md-10" style="margin-left: 8%">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Thêm loại dây</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-area="Admin" asp-controller="QuanLiLoaiDay" asp-action="ThemLoaiDayData">
            @*đường dẫn đến admin/ chạy quanlíanphamcontroler/ chạy hàm them sản phẩm*@
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Mã loại dây</label>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Nhập mã loại dây">
                    <span class="focus-input100 text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Tên loại dây</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Nhập tên loại dây">@*asp-for định danh cho cái input*@
                    <span class="focus-input100 text-danger"></span>
                </div>
                <!--Combobox-->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
        </form>
    </div>
    <!-- /.card -->

</div>
