
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Chi tiết sản phẩm</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Shop","Home")">Sản Phẩm</a></li>
                    <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
       @RenderBody()


        <div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Các sản phẩm khác</h1>

                </div>
                <div class="featured-products-box owl-carousel owl-theme owl-loaded owl-drag">








                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1904px, 0px, 0px); transition: 0s; width: 7616px;">
                            <div class="owl-item cloned" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-04.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-04.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-04.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 461px; margin-right: 15px;">
                                <div class="item">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img src="/images/img-pro-04.jpg" class="img-fluid" alt="Image">
                                            <div class="mask-icon">
                                                <ul>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="View"><i class="fas fa-eye"></i></a></li>
                                                </ul>
                                                <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                        <div class="why-text">
                                            <h4>Lorem ipsum dolor sit amet</h4>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fas fa-arrow-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-arrow-right"></i></button></div><div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->
